# Custom init.rc that is included as /vendor/etc/init/init.vendor.aosp.rc

on early-boot
    setprop qemu.hw.mainkeys ${persist.qemu.hw.mainkeys}

on boot
    # Allow system apps to select display color gamut
    chown system system /sys/devices/virtual/graphics/fb0/srgb
    chown system system /sys/devices/virtual/graphics/fb0/dci_p3

    # Symlink used by time daemon
    symlink /mnt/vendor/persist/time /data/vendor/time

    # default country code
    setprop ro.boot.wificountrycode 00

on post-fs
    chown system system /sys/class/timed_output/vibrator/vmax_mv
    chown system system /sys/class/timed_output/vibrator/vtg_level

on property:sys.button_backlight.on=true
    write /sys/class/leds/button-backlight/brightness 255

on property:sys.button_backlight.on=false
    write /sys/class/leds/button-backlight/brightness 0

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=diag,serial_cdev,serial_tty,rmnet_ipa,mass_storage,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "Default composition"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    write /config/usb_gadget/g1/idVendor 0x05C6
    write /config/usb_gadget/g1/idProduct 0x9091
    symlink /config/usb_gadget/g1/functions/diag.diag /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/cser.dun.0 /config/usb_gadget/g1/configs/b.1/f2
    symlink /config/usb_gadget/g1/functions/gsi.rmnet /config/usb_gadget/g1/configs/b.1/f3
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f4
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,serial_cdev,serial_tty,rmnet_ipa,mass_storage,adb && property:sys.usb.configfs=1
    start adbd
