# Custom init.rc that is included as /vendor/etc/init/init.vendor.aosp.rc

on early-boot
    setprop qemu.hw.mainkeys ${persist.qemu.hw.mainkeys}

on boot
    # Allow system apps to select display color gamut
    chown system system /sys/devices/virtual/graphics/fb0/srgb
    chown system system /sys/devices/virtual/graphics/fb0/dci_p3

on post-fs
    chown system system /sys/class/timed_output/vibrator/vmax_mv
    chown system system /sys/class/timed_output/vibrator/vtg_level

on property:sys.button_backlight.on=true
    write /sys/class/leds/button-backlight/brightness 255

on property:sys.button_backlight.on=false
    write /sys/class/leds/button-backlight/brightness 0
