service slider_up /system/bin/sh /system/bin/tri-state-key_event_up
    keycodes 601
    oneshot
    timeout_period 2
    priority 19
    seclabel u:r:tri-state-key_event:s0
    disabled

service slider_middle /system/bin/sh /system/bin/tri-state-key_event_middle
    keycodes 602
    oneshot
    timeout_period 2
    priority 19
    seclabel u:r:tri-state-key_event:s0
    disabled

service slider_down /system/bin/sh /system/bin/tri-state-key_event_down
    keycodes 603
    oneshot
    timeout_period 2
    priority 19
    seclabel u:r:tri-state-key_event:s0
    disabled

on property:sys.slider_up.vibrate=1
    write /sys/devices/virtual/timed_output/vibrator/enable 300
    setprop sys.slider_up.vibrate ""
